body
{
	text-align: left;
	list-style-position: inside;
	background-color:  mintcream;
}
h1
{
	font-size:  50pt;
	margin-top:  10px;
	margin-bottom: 0;
}
h2
{
	font-size:  20pt;
	color: var black;
	font-variant: small-caps;
}
h1
{
	font-size:  70pt;
	font-family: 'allura';
	margin: 0;
}
h2
{
	text-decoration: underline;
	font-weight: bold;
	margin-bottom: 0;
}